* {
    box-sizing: border-box;
}

/* Collection of breakpoints to be used throughout the project */
@media (min-width: 36em) {}
@media (min-width: 48em) {}
@media (min-width: 62em) {}
@media (min-width: 75em) {}
@media (min-width: 87.5em) {}

html {
    font-size: 1em;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 62em) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.button {
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 9999999px;
    background-color: #ed6a4e;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.button:hover {
    text-decoration: underline;
    background-color: #c95f47;
}

.button--transparent {
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    background-color: transparent;
    border: 0.125rem solid white;
}
.button--transparent:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.text-primary {
    color: #ed6a4e;
}

.header {
    padding-bottom: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-image: url('../images/header/header-background-0.5x.jpg');
}

@media (min-width: 62em) {
    .header {
        background-image: url('../images/header/header-background.jpg');
    }
}

.header::after {
    content: "";
    display: block;
    width: 7.5rem;
    height: 0.25rem;
    background-color: #ed6a4e;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
@media(min-width: 62em) {
    .header::after {
        width: 12.5rem;
    }
}

.header__logo {
    width: 100%;
    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));
}

.header__logo-link {
    display: block;
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
}

.header__nav-ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header__nav-li {
    display: inline-block;
    list-style-type: none;
}
.header__nav-li--desktop-only {
    display: none;
}
@media (min-width: 62em) {
    .header__nav-li--desktop-only{
        display: inline-block;
    }
}

.header__nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    /* Hint: Using padding instead of margin makes the entire padded area clickable,
     improving usability on mobile devices*/
    padding: 1rem 1rem;
    font-weight: bold;
}

.header__nav {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

@media (min-width: 62em) {
    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo-link {
        margin-left: 0;
        margin-right: 0;
    }
}

.header__heading {
    font-size: 2rem;
    color: white;
    margin: 0;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
@media(min-width: 36em) {
    .header__heading {
        font-size: 3rem;
    }
}
@media(min-width: 62em) {
    .header__heading {
        padding-top: 5rem;
    }
}

.header__sub-heading {
    font-size: 1rem;
    color: white;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
@media(min-width: 36em) {
    .header__sub-heading {
        font-size: 1.25rem;
    }
}
@media (min-width: 62em) {
    .header__sub-heading {
        padding-bottom: 7.5rem;
    }
}

.header__button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}
@media (min-width: 62em) {
    .header__button-container {
        display: none;
    }
}

.heading {
    color: #014153;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 2rem 0;
}
.heading--centered {
    text-align: center;
}
.heading--white {
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.heading__pre-text {
    display: block;
    font-size: 1.5rem;
}

.heading--top-box::before {
    content: "";
    display: block;
    height: 0.25rem;
    width: 7.5rem;
    background-color: #ed6a4e;
    margin-bottom: 2rem;
}

.adventures {
    background-color: rgb(225, 220, 206);
    background-image: url("../images/adventures/background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 4rem;
}

.adventures__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -1rem;
}

.adventures__card {
    position: relative;
    text-align: center;
    background-color: white;
    flex: 0 0 22.33333333rem;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

    will-change: transform;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
}
.adventures__card:hover {
    transform: scale(1.05);
}

.adventures__card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 50%);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
}

.adventures__card-img {
    display: block;
    width: 100%;
    height: 27rem;
    object-fit: cover;
    object-position: 50% 0;
}

.adventures__card-heading {
    margin: 0;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.adventures__card-date {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.story {
    background-image: url('../images/story/background-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 5rem;
}
@media (min-width: 62em) {
    .story  {
        background-image:
                linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent 10%, transparent 90%, rgba(0, 0, 0, 0.5) 100%),
                url('../images/story/background-desktop.jpg');
        background-size: 100% 100%,
            110% auto;
        background-position: center center, 100% 50%;
        background-attachment: local, fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 62em) {
    .story__inner {
        padding-left: 50%;
    }
}

.parts {
    padding-bottom: 1.8rem;
}

.parts::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: 7.5rem;
    background-color: #ed6a4e;
    margin-left: auto;
    margin-right: auto;
}

.story__paragraph {
    margin: 0;
    font-size: 1rem;
    color: white;
    padding-bottom: 1.5rem;
    line-height: 1.4em;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.parts__paragraph {
    font-size: 1rem;
    color: #014153;
    padding-bottom: 1.5rem;
    line-height: 1.4em;
    max-width: 35rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.parts__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.125rem solid #ed6a4e;
}

.parts__item {
    flex: 1 0 20rem;
    padding: 1.5rem;
    border: 0.125rem solid #ed6a4e;
}

.parts__item-icon-container {
    width: 4rem;
    height: 4rem;
    border-radius: 999999999px;
    background-color: #ed6a4e;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parts__item-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}

.parts__item-heading {
    margin: 0;
    font-size: 1rem;
    padding-top: 1.5rem;
    color: #014153;
    text-align: center;
}

