* {
    box-sizing: border-box;
} 

html {
    font-size: 1em;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 2rem 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../images/header/header-background-0.5x.jpg');
}

@media (min-width: 900px) {
    .header {
        background-image: url('../images/header/header-background.jpg');
    }
}

.header__logo {
    width: 100%;
}

.header__logo-link {
    display: block;
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
}

.header__nav-ul {
    margin: 0;
    padding: 0;
    displaY: flex;
    justify-content: center;
}

.header__nav-li {
    list-style-type: none;
}

.header__nav-link {
    display: block;
    color: white;
    text-decoration: none;
    /* Hint: Using padding instead of margin makes the entire padded area clickable,
     improving usability on mobile devices*/
    padding: 1rem 1rem;
    font-weight: bold;

}